.bundle
Gemfile.lock
db/*.sqlite3
log/*.log
log/
tmp/*
.DS_Store
config/database.yml
coverage
coverage.data
.rvmrc
db/schema.rb

spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/log/
spec/dummy/tmp/*
spec/dummy/.DS_Store
spec/dummy/config/database.yml
spec/dummy/coverage
spec/dummy/coverage.data
spec/dummy/db/schema.rb
